.song_name{font-size:20px;}
.heading{font-size:35px;}
.cake_thingy{font-size:28px;font-weight: bolder;}
canvas{box-shadow:10px 10px 10px purple,-10px -10px 10px blue;border:5px black ridge;margin-bottom:40px;}
body{background-size: cover;}